$color-primary: #006BB6;
$color-secondary: #F58426;

$font-display: 'Merriweather', serif;
$font-text:' Lato', sans-serif;

.bg-primary { background: $color-primary; }
.bg-secondary { background: $color-secondary; }
.bg-gradient { background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%); }
.font-display { font-family: $font-display; }
.font-text { font-family: $font-text; }
.text-white { color: white; }
.add-shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
	0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#particles-js {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.app-container {
    display: grid;
    grid-template-rows: [row-top] 80vh min-content min-content min-content [row-bottom];
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    &>* {
      padding: 2rem;
    }
  }
  
//   .sidebar-container {
//     padding: 0;
//     grid-column: sidebar-start / sidebar-end;
//     grid-row: row-top / -1;
//     background-color: #333;
//     display: grid;
//     grid-template-rows: repeat(6, 100px);
//     & div:first-child {
//       padding-top: 2rem;
//       text-align: center;
//       background: #f2f2f2;
//     }
//     & div:not(:first-child) {
//       padding-top: 2rem;
//       text-align: center;
//       color: #f2f2f2;
//       &:hover {
//         cursor: pointer;
//         background: #f2f2f2;
//         color: $color-secondary;
//         transition: background 0.5s, color 0.5s;
//       }
//     }
//   }
  
  .header-container {
    grid-column: sidebar-start / full-end;
  }
  
  .body-container {
    grid-column: sidebar-end / center-end;
    background-color: #f2f2f2;
    border-radius: 50px 50px 0px 0px;
  }
  
  .footer-container {
    grid-row: 4 / -1;
    grid-column: sidebar-start / full-end;
    background-color: #333;
  }